@model mijnZorgRooster.Models.Entities.Rooster
@{
	ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Rooster</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Jaar" class="control-label"></label>
				<input asp-for="Jaar" class="form-control" min=@TempData["MinInvoerJaar"] />
				<span asp-validation-for="Jaar" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Maand" class="control-label"></label>
				<input asp-for="Maand" class="form-control" min="1" max="12" />
				<span asp-validation-for="Maand" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
