@model mijnZorgRooster.Models.DTO.RoosterMetDienstProfielenDto

@{
	ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Rooster</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="RoosterID" />
			<input type="hidden" asp-for="AanmaakDatum" />
			<div class="form-group">
				<label asp-for="Jaar" class="control-label"></label>
				<input asp-for="Jaar" class="form-control" min=@ViewBag.MinInvoerJaar />
				<span asp-validation-for="Jaar" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Maand" class="control-label"></label>
				<input asp-for="Maand" class="form-control" min="1" max="12" />
				<span asp-validation-for="Maand" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="IsGevalideerd" class="control-label"></label>
				<input asp-for="IsGevalideerd" class="form-control" />
				<span asp-validation-for="IsGevalideerd" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SelectedDienstProfielen" class="control-label"></label>
				<select asp-for="SelectedDienstProfielen" asp-items="Model.DienstProfielOptions" class="form-control"></select>
			</div>
			<div>
				<a asp-action="../Dienst/Create">Genereer diensten</a>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
