@{
    ViewData["Title"] = "Over";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Deze applicatie is tot stand gekomen tijdens het vak OOSE van de hogeschool van Arnhem en Nijmegen.</p>
<p>Auteurs:
<ul>
    <li>Charlotte Dikken</li>
    <li>Francesca Wiegman</li>
    <li>Marcel Vermeulen</li>
</ul>
</p>