@model mijnZorgRooster.Models.DTO.MedewerkerMetRollenDto

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Medewerker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedewerkerID" />
            <div class="form-group">
                <label asp-for="Voornaam" class="control-label"></label>
                <input asp-for="Voornaam" class="form-control" />
                <span asp-validation-for="Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Achternaam" class="control-label"></label>
                <input asp-for="Achternaam" class="form-control" />
                <span asp-validation-for="Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tussenvoegsels" class="control-label"></label>
                <input asp-for="Tussenvoegsels" class="form-control" />
                <span asp-validation-for="Tussenvoegsels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefoonnummer" class="control-label"></label>
                <input asp-for="Telefoonnummer" class="form-control" />
                <span asp-validation-for="Telefoonnummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobielNummer" class="control-label"></label>
                <input asp-for="MobielNummer" class="form-control" />
                <span asp-validation-for="MobielNummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emailadres" class="control-label"></label>
                <input asp-for="Emailadres" class="form-control" />
                <span asp-validation-for="Emailadres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adres" class="control-label"></label>
                <input asp-for="Adres" class="form-control" />
                <span asp-validation-for="Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Woonplaats" class="control-label"></label>
                <input asp-for="Woonplaats" class="form-control" />
                <span asp-validation-for="Woonplaats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Geboortedatum" class="control-label"></label>
                <input asp-for="Geboortedatum" class="form-control" />
                <span asp-validation-for="Geboortedatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedRollen" class="control-label"></label>
                <select asp-for="SelectedRollen" asp-items="Model.RollenOptions" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
